.menuItem + .menuItem::before {
  content: '|';
  padding: 0px;
  font-size: 17px;
  color: #d5daeb;
  display: flex;
  align-items: center;
}

.menuItem:hover {
  background-color: #ffe479 !important;
  transition: 0.8s;
  border-radius: 50px;
}
.menuItem:hover::before {
  content: '';
  padding-left: 4px;
}
.callToActionButton {
  background-color: #ffd83d;
  border-radius: 10px;
}
.callToActionButton:hover {
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    background: #ffd83d;
  }
  50% {
    background: #fff;
  }
  100% {
    background: #ffd83d;
  }
}
